<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
        include ./email-user-password-change-success-mobile.css
  body
      h2 USER PASSWORD CHANGE SUCCESS
      p Hello!. This email is for your password change for the user account #[strong #{user_name}]
      p Your account information is:
      h3 User: #[strong #{user_name}]
      h3 Password: #[strong #{user_password}]
      p Remember use it in the next login.
      p If you not recognize this email please ignore and archive it.
      p #[strong #{company_name}]
      p #[strong #{company_address}]
      p #[strong #{company_phone}]
      p #[strong #{company_email}]
      p #[strong #{company_web}]
