<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
        include ./email-user-signup-web.css
  body
      h2 SIGNUP FOR NEW USER ACCOUNT
      p Hello!. This email is for your new user account #[strong #{user_name}]
      p Your activation code is
      h3 #{activation_code}
      if expire_at
        p The activation code work until #[strong #{expire_at}]
      p To made login #[a(href=`${web_app_url}`) #{web_app_url}]
      p If you not recognize this email please ignore and archive it.
      p #[strong #{company_name}]
      p #[strong #{company_address}]
      p #[strong #{company_phone}]
      p #[strong #{company_email}]
      p #[strong #{company_web}]
