<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
        include ./email-user-recover-password-mobile.css
  body
      h2 RECOVER PASSWORD CODE
      p Hello!. This email is for your recover password code for the user account #[strong #{user_name}]
      p Your recover password code is
      h3 #{recover_code}
      if expire_at
        p The recover password code work until #[strong #{expire_at}]
      p If you not recognize this email please ignore and archive it.
      p #[strong #{company_name}]
      p #[strong #{company_address}]
      p #[strong #{company_phone}]
      p #[strong #{company_email}]
      p #[strong #{company_web}]
